* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: $font-family;
}
main {
	display: flex;
	@media screen and (max-width: $mobile) {
		flex-direction: column-reverse;
	}
	background-image: url('/images/bg-pattern-desktop.svg');
	background: url('/images/bg-pattern-desktop.svg'),
		-moz-linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

	background: url('/images/bg-pattern-desktop.svg'),
		-webkit-linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	background: url('/images/bg-pattern-desktop.svg'),
		-o-linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	background: url('/images/bg-pattern-desktop.svg'),
		linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.content {
	width: 60%;

	background-size: cover;
	background-repeat: no-repeat;
	padding: 10em 5em 4em;
	@media screen and (min-width: $large-screens) {
		padding: 10em 7em 4em;
	}
	@media screen and (max-width: $mobile) {
		width: 100%;
		padding: 4em 2em;
		text-align: center;
	}
}
.content h1 {
	font-size: 4em;
	letter-spacing: 7px;
	text-transform: uppercase;
	padding-top: 0.5em;
	@media screen and (min-width: $large-screens) {
		font-size: 5 em;
	}
	@media screen and (max-width: $mobile) {
		font-size: 3.5em;
	}
}
h1 > .colored {
	@include fontWeight($thin);
	color: $desaturated-red;
}
.content > p {
	color: $desaturated-red;
	line-height: 1.5;
	padding: 1em;
	width: 72%;
	margin-bottom: 1em;
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}
.form-group {
	width: 70%;
	position: relative;
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}
.imagebg {
	width: 40%;
	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.error {
	color: $soft-red;
	margin-top: 0.8em;
	display: none;
}
.hidden-desktop {
	display: none;
	@media screen and (max-width: $mobile) {
		display: block;
		margin: 0 auto;
	}
}
