input,
button {
	padding: 1.5em 2em;
	border-radius: 30px;
}
input:focus {
	outline: 0;
}
input[type='email'] {
	width: 100%;
	border: 1px solid $desaturated-red;
}
input[type='email']::placeholder {
	color: #ce9797;
}
button {
	padding: 1.3em 3.5em;
}
button[type='submit'],
button:focus {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	@include gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border: none;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
